.windsong-regular {
  font-family: "WindSong", serif;
  font-weight: 400;
  font-style: normal;
}

.windsong-medium {
  font-family: "WindSong", serif;
  font-weight: 500;
  font-style: normal;
}

.bodoni-moda {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
